<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /curso-jquery-escuela.it/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /curso-jquery-escuela.it/index.html [L]
</IfModule>

